.product-list .image {
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 15px;
  text-align: center;
  width: 280px;
  height: 400px;
  background-color: #f9f9f9;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s, box-shadow 0.3s;
}

.product-list .image:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.product-list .image a {
  text-decoration: none;
  color: inherit;
}

.product-list .image img {
  max-width: 100%;
  height: 50%;
  border-radius: 10px;
}

.product-list .image h3 {
  font-size: 1.2em;
  margin: 10px 0;
  color: #333;
}

.product-list .image p {
  font-size: 1em;
  margin: 5px 0;
  color: #666;
}

.stock p {
  font-weight: bold;
}

.stock .available {
  color: rgb(2, 159, 2);
}

.stock .unavailable {
  color: red;
}

.product-list .image .cart-btn {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.product-list .image .cart-btn:hover {
  background-color: #0056b3;
}
