/* Reset default margin and padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body styles */
body {
    margin: 0;
    font-family: Arial, sans-serif;
}

/* Container styles */
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 10px;
    display: flex;
    align-items: center;
}

/* Header styles */
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
}



/* Logo styles */
.logo img {
    height: 50px;
    width: auto; /* Maintain aspect ratio */
    align-items: center;
}

/* Search bar styles */
.search-bar {
    display: flex;
    align-items: center;
    
}

.search-bar input {
    width: 200%;
    padding: 11px 180px ;
    border: 1px solid #ccc;
    border-radius: 5px 0 0 5px;
}

.search-bar button {
    padding: 11px 15px;
    background-color: #f90;
    border: none;
    border-radius: 0 5px 5px 0;
    color: #fff;
    cursor: pointer;
}

/* Navigation styles */
.navigation ul {
    list-style-type: none;
    display: flex;
}

.navigation ul li {
    margin-right: 20px;
}

.navigation ul li a {
    text-decoration: none;
    color: #333;
}

/* Account options styles */
.account-options a {
    text-decoration: none;
    color: #333;
    margin-left: 10px;
}

.account-options a:hover {
    text-decoration: underline;
}

/* Product, Category, and Deal styles */
.product,
.category,
.deal {
    display: inline-block;
    width: calc(25% - 20px); /* Adjust width as needed */
    margin: 0 10px 20px 0;
    vertical-align: top; /* Align items at the top */
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1); /* Add a subtle shadow */
}    

.product img,
.category img,
.deal img {
    height: 150px; /* Set your desired height */
    object-fit: cover; /* Maintain aspect ratio and fill the container */
}

.product h3,
.category h3,
.deal h3 {
    margin-top: 10px;
    margin-bottom: 5px;
}

.product p,
.category p,
.deal p {
    margin-bottom: 10px;
}

.product a,
.category a,
.deal a {
    text-decoration: none;
    color: #007bff;
    display: block; /* Ensure full width clickable area */
}

.product a:hover,
.category a:hover,
.deal a:hover {
    text-decoration: underline;
}

/* Featured Products, Popular Categories, Latest Deals styles */
.featured-products,
.popular-categories,
.latest-deals {
    object-fit: cover; /* Maintain aspect ratio and fill the container */
    display: block; /* Ensures the image behaves like a block element */
    margin: auto; /* Centers the image within its container, if needed */
}

.featured-products h2,
.popular-categories h2,
.latest-deals h2 {
    margin-bottom: 10px;
}
