/* styles.css */

.product-detail {
    max-width: 100%;
    padding: 150px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
    background-color: #021e28;
  }
  
  .product-detail img {
    max-width: 100%;
    border-radius: 8px;
    margin-bottom: 20px;
  }
  
  .product-detail h1 {
    font-size: 2em;
    margin: 10px 0;
    color: #fbf7f7;
  }
  
  .product-detail p {
    font-size: 1em;
    margin: 10px 0;
    color: #b0adad;
  }
  
  .product-detail .available {
    color: green;
    font-weight: bold;
  }
  
  .product-detail .unavailable {
    color: red;
    font-weight: bold;
  }
  
  .product-detail button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 1em;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .product-detail button:hover {
    background-color: #0056b3;
  }
  